{% extends 'base.html' %}

{% block header %}
    <div class="container my-4">
        <div class="row">
        <div class="col-sm-8">
            <h1>
            {% block title %}Add New Airplane{% endblock %}
            </h1>
        </div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="container my-4">
    <div class="row">
      <div class="col-lg-6">
        <form action='/add_airplane' method="post">
          <div class="mb-3">
            <label for="airplane_id" class="form-label">Airplane id:</label>
            <input name="airplane_id" id="airplane_id" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="seats" class="form-label">Airplane seats number:</label>
            <input name="seats" id="seats" class="form-control" required>
          </div>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}