{% extends 'base.html' %}

{% block header %}
  <div class="container-lg-5">
    <div class="row">
      <div class="col">
        <h1>
          {% block title %}
            {% if g.user %}
              {{ g.user['first_name'].title() }} the {{ g.user_type.replace("_", " ").title() }}'s Dashboard
            {% else %}
              Homepage
            {% endif %}
          {% endblock %}
        </h1>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}

  <!--Search bar + buttons-->
  <div class="container-lg-5 pt-3 border rounded p-3">
    <form id='form1'
          action="{{ url_for('airline.index', bp='search_flights') }}"
          method="post">
      <div class="row mb-3">
        <div class="col-md-6 justify-content-left">
          <div class="btn-group-md" role="group">
            <button type="button"
                    class="btn btn-primary active"
                    id="round-trip-btn"
                    onclick="unhideElement()">Return</button>
            <button type="button"
                    class="btn btn-primary"
                    id="one-way-btn"
                    onclick="hideElement()">One-way</button>
            <a href="{{ url_for('airline.search_results', search_all_flights=True) }}"
               class="btn btn-secondary">Search All Flights</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="input-group">
            <select class="form-select" id="leaving_from" name="leaving_from">
              <option value="" disabled selected hidden>Leaving from...</option>
              {% for airport in airports %}
                <option value="{{ airport['airport_name'] }}">{{ airport['airport_name'] }}, {{ airport['airport_city'] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <select class="form-select" id="going_to" name="going_to">
              <option value="" disabled selected hidden>Going to...</option>
              {% for airport in airports %}
                <option value="{{ airport['airport_name'] }}">{{ airport['airport_name'] }}, {{ airport['airport_city'] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm">
          <div class="input-group">
            <label class="input-group-text" for="departure_date">Departing</label>
            <input type="date"
                   class="form-control"
                   id="departure_date"
                   name="departure_date">
          </div>
        </div>
        <div id="element-to-toggle" class="col-sm">
          <div class="input-group">
            <label class="input-group-text" for="return_date">Returning</label>
            <input type="date" class="form-control" id="return_date" name="return_date">
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <!-- <button type="submit" class="btn btn-primary col-6 col-md-3">Search</button> -->
        <button type="submit" class="btn btn-primary col-6 col-md-3 search_flights">Search</button>
      </div>
    </form>
  </div>

  <!--My Flights-->
  <!--NOTE: This should be customized for each user type-->
  {% if g.user %}
    <!--Airline Staff Actions-->
    {% if g.user_type == 'airline_staff' %}
      <div class="container-lg-5 pt-3">
        <h1>Staff Actions</h1>
      </div>
      <div class="container-lg-5 pt-3 border rounded p-3">
        <form action="/continue_staff_action" method="post">
          <div class="row">
            <div class="col-sm-3">
              <div class="input-group">
                <select class="form-select" id="staff_action" name="staff_action">
                  <option value="" disabled selected hidden>Select an action...</option>
                  <option value="create_new_flight">Create new flight</option>
                  <option value="change_status">Change status of flights</option>
                  <option value="add_airplane">Add airplane in the system</option>
                  <option value="add_new_airport">Add new airport in the system</option>
                  <option value="grant_new_permission">Grant new permissions</option>
                  <option value="add_booking_agent">Add new booking agent in the system</option>
                </select>
              </div>
            </div>
            <div class="col-sm-3 gx-2">
              <div class="continue_staff_action">
                <button type="submit" class="btn btn-primary continue_staff_action">Continue</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    {% endif %}

    <!--My Flights-->
    {% if g.user_type in ['customer', 'booking_agent'] %}
      <div class="container-lg-5 pt-3">
        <h1>My Purchased Flights</h1>
      </div>
      <div class="container-lg-5 pt-3">
        {% for purchase in purchases %}
          <div class="card mb-3">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-8">
                  <small class="text">{{ purchase['departure_time'] }} - {{ purchase['arrival_time'] }} ({{ purchase['status'] }})</small>
                </div>
                <div class="col-sm-4 text-end">
                  <small class="text-muted">Leaving: {{ purchase['departure_date'] }}</small>
                </div>
                <div class="col-sm-8">
                  <small class="text-muted">{{ purchase['departure_city'] }} ({{ purchase['departure_airport'] }})- {{ purchase['arrival_city'] }} ({{ purchase['arrival_airport'] }})</small>
                </div>
                <div class="col-sm-4 text-end">
                  <small class="text-muted">{{ purchase['airline_name'] }}</small>
                </div>
              </div>
            </div>
            <div class="card-body">
              <a href="{{ url_for('airline.index', delete_ticket_id=purchase['ticket_id']) }}">
                <button class="btn btn-primary">Refund Ticket</button>
              </a>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      {% if g.user_type == 'airline_staff' %}
        <div class="container-lg-5 pt-3">
          <h1>My Created Flights</h1>
        </div>
        {% for flight in flights %}
          <div class="card mb-3">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-8">
                  <small class="text">{{ flight['departure_time'] }} - {{ flight['arrival_time'] }} ({{ flight['STATUS'] }})</small>
                </div>
                <div class="col-sm-8">
                  <small class="text-muted">{{ flight['departure_city'] }} ({{ flight['departure_airport'] }}) - {{ flight['arrival_city'] }} ({{ flight['arrival_airport'] }})</small>
                </div>
                <div class="col-sm-4 text-end">
                  <small class="text-muted">{{ flight['airline_name'] }}</small>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <!--Purchase History-->
    {% if g.user_type == 'customer' %}
      <div class="container-lg-5 pt-3">
        <h1>Purchase History</h1>
      </div>

      <!--Purchase History Filter-->
      <div class="container-lg-5 pt-3 border rounded p-3">
        <form id='form3'
              action="{{ url_for('airline.index', bp='update_graph') }}"
              method="post">
          <div class="row d-flex justify-content-right align-items-center">
            <div class="col-sm-3">
              <div class="input-group">
                <label class="input-group-text" for="start_date">Start Date</label>
                <input type="date" class="form-control" id="start_date" name="start_date">
              </div>
            </div>
            <div id="element-to-toggle" class="col-sm-3">
              <div class="input-group">
                <label class="input-group-text" for="end_date">End Date</label>
                <input type="date" class="form-control" id="end_date" name="end_date">
              </div>
            </div>
            <div class="col-sm">
              <button type="submit" class="btn btn-primary update_purchase_history">Show Results</button>
            </div>
          </div>
        </form>
      </div>
      <div class="container-lg-5 pt-3">
        <div class="card mb-3">
          <div class="card-header">
            <div class="row">
              <div id='chart' class='chart'”></div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}

    {% if g.user_type == 'booking_agent' %}
      <div class="container-lg-5 pt-3">
        <h1>Performance Summary</h1>
      </div>

      <!--Performance-->
      <div class="container-lg-5 pt-3 border rounded p-3">
        <form id='form3'
              action="{{ url_for('airline.index', bp='update_summary') }}"
              method="post">
          <div class="row d-flex justify-content-right align-items-center">
            <div class="col-sm-3">
              <div class="input-group">
                <label class="input-group-text" for="start_date">Start Date</label>
                <input type="date" class="form-control" id="start_date" name="start_date">
              </div>
            </div>
            <div id="element-to-toggle" class="col-sm-3">
              <div class="input-group">
                <label class="input-group-text" for="end_date">End Date</label>
                <input type="date" class="form-control" id="end_date" name="end_date">
              </div>
            </div>
            <div class="col-sm">
              <button type="submit" class="btn btn-primary update_summary">Show Results</button>
            </div>
          </div>
        </form>
      </div>
      <div class="container-lg-5 pt-3">
        <div class="card mb-3">
          <div class="card-header">
            {% if start_date and end_date %}
              <h4>Performance ({{ start_date }} to {{ end_date }})</h4>
            {% else %}
              <h4>Performance (Past Month)</h4>
            {% endif %}
          </div>
          <div class="card-body">
            <h4>Total Commisions: ${{ commission['commission'] }} USD</h4>
            <h4>Total Number of Tickets Sold: {{ total_tickets_sold['total_tickets_sold'] }} Tickets</h4>
            <h4>Average Commission Recieved: ~${{ commission['commission']//total_tickets_sold['total_tickets_sold'] if commission['commission'] else 0 }} USD</h4>
          </div>
        </div>
      </div>

      <!--TODO: Add a bar chart to this!-->
      <!--Best Customers-->
      <div class="container-lg-5 pt-3">
        <h1>Top Customers</h1>
      </div>
      <div class="container-lg-5 pt-3">
        <div class="card mb-3">
          <div class="card-header">
            <h4>Past 6 Months</h4>
          </div>
          <ol>
            <div class="card-body">
              {% for customer in top_5_customers_6_months %}
                <h4>
                  <li>{{ customer['customer_email'] }}: {{ customer['total_tickets_bought'] }} Tickets Purchased</li>
                </h4>
              {% endfor %}
            </div>
          </ol>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <h4>Past 1 Year</h4>
          </div>
          <ol>
            <div class="card-body">
              {% for customer in top_5_customers_1_year %}
                <h4>
                  <li>{{ customer['customer_email'] }}: {{ customer['total_tickets_bought'] }} Tickets Purchased</li>
                </h4>
              {% endfor %}
            </div>
          </ol>
        </div>
      </div>
    {% endif %}

    <!-- View all booking agent -->
    {% if g.user_type == 'airline_staff' %}
      <div class="container-lg-5 pt-3">
        <h1>Top Booking Agents</h1>
      </div>
      <div class="container-lg-5 pt-3">
        <div class="card mb-3">
          <div class="card-header">
            <h4>Past 1 Month</h4>
          </div>
          <ol>
            <div class="card-body">
              {% for month_top_booking_agent in month_top_booking_agents %}
                <h4>
                  <li>{{ month_top_booking_agent['username'] }}</li>
                </h4>
              {% endfor %}
            </div>
          </ol>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <h4>Past 1 Year</h4>
          </div>
          <ol>
            <div class="card-body">
              {% for year_top_booking_agent in year_top_booking_agents %}
                <h3>
                  <li>{{ year_top_booking_agent['username'] }}</li>
                </h3>
              {% endfor %}
            </div>
          </ol>
        </div>
      </div>

      <div class="container-lg-5 pt-3">
        <h1>Sales Report</h1>
      </div>
      <div class="container-lg-5 pt-3 border rounded p-3">
        <form id='form3'
              action="{{ url_for('airline.index', bp='update_summary') }}"
              method="post">
          <div class="row d-flex justify-content-right align-items-center">
            <div class="col-sm-3">
              <div class="input-group">
                <label class="input-group-text" for="start_date">Start Date</label>
                <input type="date" class="form-control" id="start_date" name="start_date">
              </div>
            </div>
            <div id="element-to-toggle" class="col-sm-3">
              <div class="input-group">
                <label class="input-group-text" for="end_date">End Date</label>
                <input type="date" class="form-control" id="end_date" name="end_date">
              </div>
            </div>
            <div class="col-sm">
              <button type="submit" class="btn btn-primary update_summary">Show Results</button>
            </div>
          </div>
        </form>
      </div>
      <div class="container-lg-5 pt-3">
        <div class="card mb-3">
          <div class="card-header">
            <h4>Sales Numbers</h4>
          </div>
            <div class="card-body">
            <h4>Total Tickets Sold (1 month): {{ total_tickets_sold_1_month['total_tickets'] }}</h4>
            <h4>Total Tickets Sold (1 year): {{ total_tickets_sold_1_year['total_tickets'] }}</h4>
            </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <h4>Revenue Flow Comparison</h4>
          </div>
            <div class="card-body">
            <h4>Booking Agent Sales Percentage: {{ revenue_dist }}%</h4>
            <h4>Customer Sales Percentage: {{ 100 - revenue_dist }}%</h4>
            </div>
        </div>
      </div>

      <!-- view top customers -->
      <div class="container-lg-5 pt-3">
        <h1>Top 5 Customer</h1>
        <br>
        <ol type="1">
          {% for frequent_customer in frequent_customers %}
            <h3>
              <li>{{ frequent_customer['customer_email'] }}</li>
            </h3>
            <div class="card mb-3">
              <div class="card-header">
                <div class="row">
                  <div class="col-sm-8">
                    <small class="text">{{ frequent_customer['departure_time'] }} - {{ frequent_customer['arrival_time'] }} ({{ frequent_customer['STATUS'] }})</small>
                  </div>
                  <div class="col-sm-8">
                    <small class="text-muted">{{ frequent_customer['departure_city'] }} ({{ frequent_customer['departure_airport'] }})- {{ frequent_customer['arrival_city'] }} ({{ frequent_customer['arrival_airport'] }})</small>
                  </div>
                  <div class="col-sm-4 text-end">
                    <small class="text-muted">{{ frequent_customer['airline_name'] }}</small>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </ol>
      </div>

      <!-- view top destinations  -->
      <div class="container-lg-5 pt-3">
        <h1>Top 3 Destinations</h1>
        <br>
        <h2>Top 3 Destinations in One Year</h2>
        <br>
        <ol type="1">
          {% for year_top_destination in year_top_destinations %}
            <h3>
              <li>{{ year_top_destination['airport_city'] }}</li>
            </h3>
          {% endfor %}
        </ol>
        <br>
        <h2>Top 3 Destinations in Three Month</h2>
        <br>
        <ol type="1">
          {% for month_top_destination in month_top_destinations %}
            <h3>
              <li>{{ month_top_destination['airport_city'] }}</li>
            </h3>
          {% endfor %}
        </ol>
      </div>
    {% endif %}


    <!--TODO: <script src="URL"> here!-->
  {% endif %}
  <!-- Purchase history -->
  <div class="container-lg-5 pt-3">
    <h1>Blog Posts</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for post in posts %}
        <div class="col">
          <div class="card h-100">
            <img src="{{ post['image_url'] }}"
                 class="card-img-top"
                 alt="{{ post['title'] }}">
            <div class="card-body">
              <h5 class="card-title">{{ post['title'] }}</h5>
              <p class="card-text">{{ post['summary'] }}</p>
              <a href="{{ url_for('airline.post', post_id=post['id']) }}"
                 class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script type='text/javascript'>
  var graphs = {{ graphJSON | safe }};
  Plotly.plot('chart',graphs,{});
  </script>
  <script>
  const roundTripBtn = document.getElementById("round-trip-btn");
  const oneWayBtn = document.getElementById("one-way-btn");

  roundTripBtn.addEventListener("click", () => {
    roundTripBtn.classList.add("active");
    oneWayBtn.classList.remove("active");
  });

  oneWayBtn.addEventListener("click", () => {
    oneWayBtn.classList.add("active");
    roundTripBtn.classList.remove("active");
  });

  function hideElement() {
			var element = document.getElementById("element-to-toggle");
			element.style.display = "none";
		}
  function unhideElement() {
      var element = document.getElementById("element-to-toggle");
      element.style.display = "block";
    }
  </script>
{% endblock %}
