{% extends 'base.html' %}
{% block header %}
  <div class="container-lg-5">
    <div class="row">
      <div class="col">
        <h1>
          {% block title %}
            {% if g.user %}
              {{ g.user['first_name'].title() }} the {{ g.user_type.replace("_", " ").title() }}'s Dashboard
            {% else %}
              Homepage
            {% endif %}
          {% endblock %}
        </h1>
      </div>
      <div class="col-sm-4 text-end">
        <a class="btn btn-primary" href="/">My Flights</a>
      </div>
    </div>
  </div>
{% endblock %}
{% block content %}
	
  <div class="container-lg-5 pt-3 border rounded p-3">
    <form method="post">
      <div class="row mb-3">
        <div class="col-md-6 justify-content-left">
          <div class="btn-group-md" role="group">
            <button type="button"
                    class="btn btn-primary active"
                    id="round-trip-btn"
                    onclick="unhideElement()">Return</button>
            <button type="button"
                    class="btn btn-primary"
                    id="one-way-btn"
                    onclick="hideElement()">One-way</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="input-group">
            <select class="form-select" id="leaving_from" name="leaving_from">
              <option value="" disabled selected hidden>Leaving from...</option>
              {% for airport in airports %}
                <option value="{{ airport }}">{{ airport['airport_name'] }}, {{ airport['airport_city'] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="input-group">
            <select class="form-select" id="going_to" name="going_to">
              <option value="" disabled selected hidden>Going to...</option>
              {% for airport in airports %}
                <option value="{{ airport }}">{{ airport['airport_name'] }}, {{ airport['airport_city'] }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="col-sm">
          <div class="input-group">
            <label class="input-group-text" for="departure_date">Departing</label>
            <input type="date"
                   class="form-control"
                   id="departure_date"
                   name="departure_date">
          </div>
        </div>
        <div id="element-to-toggle" class="col-sm">
          <div class="input-group">
            <label class="input-group-text" for="return_date">Returning</label>
            <input type="date" class="form-control" id="return_date" name="return_date">
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <button type="submit" class="btn btn-primary col-6 col-md-3">Search</button>
      </div>
    </form>
  </div>
  <!--NOTE: We can use 'if purchases is not None' as well-->
  {% if g.user %}
    <div class="container-lg-5 pt-3 >
      <div class="container md">
        <h1>My Flights</h1>
        {% for purchase in purchases %}
 
          <div class="card mb-3">
            <div class="card-header">
              <div class="row">
                <div class="col-sm-8">
                  <small class="text">{{ purchase['departure_time'] }} - {{ purchase['arrival_time'] }} ({{ purchase['status'] }})</small>
                </div>
                <div class="col-sm-8">
                  <small class="text-muted">{{ purchase['departure_city'] }} ({{ purchase['departure_airport'] }})- {{ purchase['arrival_city'] }} ({{ purchase['arrival_airport'] }})</small>
                </div>
                <div class="col-sm-4 text-end">
                  <small class="text-muted">{{ purchases['airline_name'] }}</small>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
 
      </div>
    </div>
    <div class="container-lg-5 pt-3>
      <div class="container md">
        <h1>Purchase History</h1>
        <div class="card mb-3">
          <div class="card-header">
            <div class="row">
              <div id='chart' class='chart'”></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
  <script type='text/javascript'>
  var graphs = {{ graphJSON | safe }};
  Plotly.plot('chart',graphs,{});
  </script>
  <script>
  const roundTripBtn = document.getElementById("round-trip-btn");
  const oneWayBtn = document.getElementById("one-way-btn");

  roundTripBtn.addEventListener("click", () => {
    roundTripBtn.classList.add("active");
    oneWayBtn.classList.remove("active");
  });

  oneWayBtn.addEventListener("click", () => {
    oneWayBtn.classList.add("active");
    roundTripBtn.classList.remove("active");
  });

  function hideElement() {
			var element = document.getElementById("element-to-toggle");
			element.style.display = "none";
		}
  function unhideElement() {
      var element = document.getElementById("element-to-toggle");
      element.style.display = "block";
    }
  </script>
{% endblock %}
